center
  style
    | h2, p, label, a, input {
    |   color: white;
    |   font-size: 1.1em;
    | }
    | h1 {
    |   color: white;
    |   font-size: 2em;
    | }
    | input {
    |   color: black;
    | }
    | .alert-danger, .alert-success {
    |   color: white;
    | }
  .account-container
    h1 Create Account
    
    - if @error
      .alert.alert-danger
        = @error
    
    - if @success
      .alert.alert-success
        = @success
    
    form method="post" action="/account"
      .form-group
        label for="username" Username: 
        input.form-control type="text" id="username" name="username" placeholder="Enter username" required="" style="margin-bottom: 10px"
      
      .form-group
        label for="password" Password: 
        input.form-control type="password" id="password" name="password" placeholder="Enter password" required="" style="margin-bottom: 10px"
      
      .form-group
        label for="password_confirm" Confirm Password: 
        input.form-control type="password" id="password_confirm" name="password_confirm" placeholder="Confirm password" required="" style="margin-bottom: 10px"
      
      button.btn.btn-primary type="submit" Create Account 

    br
    a.btn.btn-secondary href="/login" Already have an account? Login 

