<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"/
        meta name="viewport" content="width=device-width, initial-scale=1.0"/
        title Document
        style
            | html { overflow-y: scroll; }

    header style="margin-bottom: 20px;"
    center
        a href="/timer" style="color: white; margin-right: 25px; font-size: 25px;" Timer
        a href="/algorithm" style="color: white; margin-right: 25px; font-size: 25px;" Algorithm
        - if session[:username]
          span style="color: white; margin-right: 25px; font-size: 25px;" = session[:username]
          a href="/pause-history" style="color: white; margin-right: 25px; font-size: 25px;" History
          form method="post" action="/logout" style="display: inline;"
            button.btn.btn-link style="color: white; font-size: 25px; padding: 0; border: none; background: none;" type="submit" Logout
        - else
          a href="/account" style="color: white; font-size: 25px;" Account


    body style="background-color: #222222"

        == yield